image:
  - Visual Studio 2022
  - Ubuntu2004
  - macos

environment:
  matrix:
    - version: "3.10"
      venv: "$HOME/venv3.10"
      windows_location: "C:\\Python310-x64\\python"
      windows_location2: "C:\\Python10\\python"
    - version: "3.9"
      venv: "$HOME/venv3.9"
      windows_location: "C:\\Python39-x64\\python"
      windows_location2: "C:\\Python39\\python"
    - version: "3.8"
      venv: "$HOME/venv3.8"
      windows_location: "C:\\Python38-x64\\python"
      windows_location2: "C:\\Python38\\python"

test_script:
  - python -m unittest tests.py
  - python prepare.py
  - python setup.py bdist_wheel

for:
  - matrix:
      only:
        - image: Visual Studio 2022
    install:
      - "%windows_location% -m virtualenv venv"
      - venv\Scripts\activate
      - python -m pip install --pre cython wheel pyglm pillow autopep8

      - "%windows_location2% -m virtualenv venv2"
      - venv2\Scripts\activate
      - python -m pip install --pre cython wheel pyglm pillow autopep8

      - python prepare.py
      - python -m unittest tests.py # early tests
      - python setup.py bdist_wheel
      - venv\Scripts\activate
  - matrix:
      only:
        - image: Ubuntu2004
        - image: macos
      - source $venv/bin/activate
      - python -m pip install --pre cython wheel pyglm pillow autopep8

build: off
skip_branch_with_pr: true

artifacts:
  - path: dist/pyunity-0.8.3*
    name: Builds
