name: Linux Wheel Builds
on: [push, workflow_dispatch]
jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
        architecture: x64
    - name: Install dependencies
      run: python -m pip install "cython>=3.0.0a8" autopep8
    - name: Cythonize
      run: python prepare.py parseCode cythonize
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: Cython
        path: src
  build:
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        arch: ["x86_64", "i686", "aarch64"]
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt
      - name: Print info
        env:
          PYUNITY_TESTING: 0
        run: |
          python -m pyunity -v
      - name: Get artifact
        uses: actions/download-artifact@v3
        with:
          name: Cython
          path: src
      - name: Build wheel
        run: |
          docker run -it --rm docker://quay.io/pypa/manylinux2014_${{ matrix.arch }} \
            -v `pwd`:/workspace/ -w /workspace \
            /bin/bash .github/workflows/build_wheel.sh ${{ matrix.python-version }}
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: python${{ matrix.python-version }}
          path: dist/*.whl
