name: MacOS Wheel Builds
on: [push, workflow_dispatch]
jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"
        architecture: x64
    - name: Install dependencies
      run: python -m pip install -r .github/build_requirements.txt
    - name: Cythonize
      run: python prepare.py parseCode cythonize
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: Cython
        path: src
  build:
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    runs-on: macos-latest
    needs: compile
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt -r .github/build_requirements.txt
      - name: Print info
        env:
          PYUNITY_TESTING: 0
        run: |
          python -m pyunity -v
      - name: Get artifact
        uses: actions/download-artifact@v3
        with:
          name: Cython
          path: src/
      - name: Build wheel
        run: |
          python -m pip install "cython>=3.0.0a8" wheel
          python setup.py egg_info
          test -f pyunity.egg-info/version.json || exit 1
          python setup.py build_ext -j 0 bdist_wheel
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: python${{ matrix.python-version }}
          path: dist/*.whl
