name: Trigger all builds
on: [workflow_dispatch]
jobs:
  run:
    name: trigger
    steps:
      - name: Trigger all builds
        run: |
          workflows=("coverage.yml" "linux.yml" "macos.yml" "windows.yml")
          for workflow in "${workflows[@]}"; do
            curl \
              -X POST \
              -u rayzchen:${{ secrets.USER_TOKEN }} \
              -H "Accept: application/vnd.github.v3+json" \
              https://api.github.com/repos/pyunity/pyunity/actions/workflows/$workflow/dispatches \
              -d '{"ref":"develop"}'
          done
