name: Windows Wheel Builds
on: [push, workflow_dispatch]
jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        architecture: x64
    - name: Install dependencies
      run: python -m pip install -r .github/build_requirements.txt
    - name: Cythonize
      run: python prepare.py parseCode cythonize
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: Cython
        path: src
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        architecture: ["x64"] # Temporarily disable x86 builds
    needs: compile
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}
      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt -r .github/build_requirements.txt
      - name: Print info
        env:
          PYUNITY_TESTING: 0
        run: |
          python -m pyunity -v
      - name: Get artifact
        uses: actions/download-artifact@v4
        with:
          name: Cython
          path: src/
      - name: Build wheel
        run: |
          python -m build
      - name: Build pure wheel
        env:
          cython: 0
        if: matrix.python-version == '3.11' && matrix.architecture == 'x64'
        run: |
          python -m build -o puredist/
      - name: Upload built wheel
        uses: actions/upload-artifact@v3
        with:
          name: python${{ matrix.python-version }}-${{ matrix.architecture }}
          path: dist/*.whl
      - name: Upload pure python wheel
        uses: actions/upload-artifact@v3
        if: matrix.python-version == '3.11' && matrix.architecture == 'x64'
        with:
          name: purepython
          path: puredist/*.whl
